.footer {
  padding: 36px 0;
  color: var(--white-color);
  background: var(--brown-gradient);
  &__top {
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 3fr 2fr 3fr;
    gap: 28px;
    width: 100%;
    padding-bottom: 36px;
    margin-bottom: 36px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    .col {
      &:last-child {
        .footer__contacts-link {
          text-align: right;
          display: block;
        }
      }
    }
  }
  &__contacts {
    &-link {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.1;
      text-decoration: none;
      color: var(--white-color);
      transition: opacity .3s ease;
      &:hover {
        opacity: .7;
      }
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
    &-info {
      margin-top: 5px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.2;
      color: rgba(255, 255, 255, 0.5);
    }
  }
  &__center {
    display: grid;
    grid-template-columns: 2fr 4.2fr 2fr 3fr;
    gap: 28px;
    width: 100%;
    margin-bottom: 16px;
  }
  &__nav {
    display: grid;
    grid-column-gap: 20px;
    grid-template-rows: repeat(6,auto);
    grid-auto-flow: column;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    &-group { 
      >a {
        display: block;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
    li {
      margin-top: 0;
      margin-bottom: 10px;
      a {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.1;
        text-decoration: none;
        color: var(--white-color);
        transition: opacity .3s ease;
        &:hover {
          opacity: .7;
        }
      }
    }
    &-second {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 0;padding: 0;list-style: none;
      li {
        margin: 4px 10px 4px 0;
        a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 10px 20px;
          font-size: 15px;
          font-weight: 500;
          line-height: 1.1;
          border-radius: 50px;
          border: 1px solid var(--white-color);
          background-color: transparent;
          &:hover {
            text-decoration: none;
            color: var(--white-color);
            border-color: var(--global-color);
            background: var(--green-gradient);
          }
        }
      }
    }
  }
  &__rejim {
    h4 {
      margin-top: 0;
      margin-bottom: 16px;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.1;
      color: var(--white-color);
    }
    p {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.3;
      color: var(--white-color);
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    h3 {
      margin-top: 0;
      margin-bottom: 20px;
      font-family: var(--font-daysone);
      font-size: 20px;
      font-weight: 400;
      line-height: 1.1;
      text-align: center;
      color: var(--white-color);
    }
    .form-input {
      text-align: center;
      color: var(--white-color);
    }
    .form-group,
    .btn-main {
      width: 100%;
    }
    .btn-main:hover {
      background-color: var(--white-color);
    }
  }
  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    .footer__nav-second {
      margin-right: auto;
    }
    &>p,
    &>a {
      margin: 4px 0 4px 20px;
      display: block;
      width: fit-content;
      text-align: right;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.2;
      color: rgba(255, 255, 255, 0.5);
    }
    &>a:hover {
      text-decoration: underline;
    }
  }
}

@include tablet {
  .footer {
    &__top {
      grid-template-columns: repeat(2, 1fr);
      .col {
        &:last-child {
          .footer__contacts-link {
            text-align: left;
          }
        }
      }
    }
    &__center {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 24px;
    }
    &__nav {
      grid-template-rows: none;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: row;
    }
    &__bottom {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      .footer__nav-second {
        margin-right: 0;
        margin-bottom: 24px;
      }
      &>p,
      &>a {
        margin: 4px 0;
      }
    }
  }
}

@include tablet-small {
  .footer {
    .logo {
      max-width: 212px;
    }
    &__top {
      grid-template-columns: repeat(1, 1fr);
      .footer__contacts {
        text-align: center;
        &-link {
          text-align: center;
        }
      }
      .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        &:last-child {
          .footer__contacts-link {
            text-align: center;
          }
        }
      }
      border-bottom: 0;
      padding-bottom: 0;
    }
    &__center {
      display: flex;
      flex-direction: column-reverse;
      row-gap: 32px;
    }
    &__nav {
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      li {
        margin-bottom: 16px;
        a {
          font-size: 18px;
        }
      }
      &-group>a {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
      }
      &-second {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        li {
          margin: 0 0 20px 0;
          width: 100%;
          a {
            padding: 0;
            width: 100%;
            font-size: 18px;
            font-weight: 700;
            border-radius: 0;
            border: 0 !important;
            background: none !important;
            &:hover {
              text-decoration: none;
              color: var(--white-color);
            }
          }
        }
      }
    }
    &__rejim {
      h4 {
        font-size: 20px;
        text-align: center;
      }
      p {
        font-size: 18px;
        text-align: center;
      }
    }
    &__bottom {
      align-items: center;
      justify-content: center;
      .footer__nav-second {
        margin-right: 0;
        margin-bottom: 24px;
      }
    }
  }
}