<!-- header -->
<header class="header header-desktop header-home" id="header">
	<div class="container">
		<div class="header__container">
			<a href="/" class="logo"><img src="img/logo_white.svg" width="212" height="51" alt=""></a>
			<div class="nav__menu">
				<ul class="nav__list">
					<li><a href="products.html">Продукция</a></li>
					<li><a href="services.html">Услуги</a></li>
					<li><a href="discounts.html">Акции</a></li>
					<li><a href="delivery.html">Доставка</a></li>
					<li><a href="gallery.html">Галерея</a></li>
				</ul>
			</div>
			<div class="header__contacts">
				<ul class="socials">
					<li><a href="#"><img src="img/icon_vk.svg" width="32" height="32" alt=""></a></li>
					<li><a href="#"><img src="img/icon_vb.svg" width="32" height="32" alt=""></a></li>
					<li><a href="#"><img src="img/icon_wa.svg" width="32" height="32" alt=""></a></li>
					<li><a href="#"><img src="img/icon_tg.svg" width="32" height="32" alt=""></a></li>
				</ul>
				<div class="header__phones">
					<a href="tel:+79823839030">+7 (982) 383-90-30</a>
					<a href="tel:+79195100620">+7 (919) 510-06-20</a>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- header mobile -->
<header class="header header-mob header-home" id="header">
	<div class="container">
		<div class="header__container">
			<a href="/" class="logo"><img src="img/logo_white.svg" width="200" height="49" alt=""></a>
			<div class="header__bar">
				<a href="tel:#" class="btn-icon-grey"><img src="img/icon_phone_green.svg" alt=""></a>
				<div class="btn-icon-grey nav__toggle" id="nav-toggle"><img src="img/icon_menu_burger.svg" alt=""></div>
			</div>
			<div class="nav__menu" id="nav-menu">
				<div class="hero__btns">
					<a href="#" target="_blank" class="btn-document">
						<img src="img/icon_file_xl.svg" alt="">
						<div class="btn-document-filesize">3,5 Mb <span>XLSX</span></div>
						<div class="btn-document-filename">Оптовый прайс-лист</div>
					</a>
					<a href="#" target="_blank" class="btn-document-outline">
						<img src="img/icon_file_xl_green.svg" alt="">
						<div class="btn-document-filesize">3,5 Mb <span>XLSX</span></div>
						<div class="btn-document-filename">Розничный прайс-лист</div>
					</a>
				</div>
				<ul class="nav__list">
					<li><a href="/">Главная</a></li>
					<li><a href="products.html">Продукция</a></li>
					<li><a href="services.html">Услуги</a></li>
					<li><a href="company.html">О компании</a></li>
					<li><a href="delivery.html">Доставка</a></li>
					<li><a href="discounts.html">Акции</a></li>
					<li><a href="gallery.html">Галерея</a></li>
				</ul>
				<div class="nav__menu-bottom">
					<a href="politika.html">Политика конфиденциальности</a>
				</div>
			</div>
		</div>
	</div>
</header>