.gallery {
  &Swiper {
    overflow: visible;
    .swiper-slide {
      width: 420px;
      border-radius: 10px;
      img {
        width: 100%;
        aspect-ratio: 42 / 50;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    .swiper-nav {
      position: absolute;
      gap: 20px;
      bottom: 30px;
      left: 30px;
      z-index: 10;
    }
    .swiper-button-prev,
    .swiper-button-next {
      width: 36px;
      height: 36px;
    }
    .swiper-button-prev::after {
      background-image: url('../img/icon_arrow_prev_white.svg');
    }
    .swiper-button-next::after {
      background-image: url('../img/icon_arrow_next_white.svg');
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 100px;
  }
  .heading {
    margin-bottom: 28px;
    .section-title {
      text-align: left;
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 240px 240px;
    gap: 20px 20px;
    grid-auto-flow: row;
    .one { grid-area: one; }
    .two { grid-area: two; }
    .three { grid-area: three; }
    .four { grid-area: four; }
    .five { grid-area: five; }
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
    }
    &--first {
      grid-template-areas:
      "one two three"
      "one four five";
    }
    &--second {
      grid-template-areas:
      "one two five"
      "three four five";
    }
  }
}