.prodhead {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 56px 52px;
    width: 100%;
    min-height: 220px;
    border-radius: 20px;
    &::before {
      content: '';
      position: absolute;
      top: 0;left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background: linear-gradient(102deg, #543C30 -42%, rgba(84, 60, 48, 0.00) 63%);
      z-index: -1;
    }
  }
  &__img {
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: -2;
  }
  .heading {
    text-align: left;
    margin-bottom: 0;
    .section-title {
      font-size: 42px;
      text-align: left;
      color: var(--white-color);
    }
    .section-text {
      max-width: 430px;
      font-size: 17px;
      text-align: left;
      color: var(--white-color);
    }
  }
}

.prodprices {
  &__item {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
      padding-bottom: 68px;
      margin-bottom: 68px;
      border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
    }
  }
  &__info {
    margin-top: 30px;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    color: var(--font-color);
    p {
      margin-top: 0;
      margin-bottom: 0;
      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }
  }
  &__wrapper {
    position: relative;
		padding: 48px 88px;
		border-radius: 20px;
		border: 1px dashed rgba(0, 0, 0, 0.3);
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &:not(:last-child) {
      padding-bottom: 48px;
      margin-bottom: 48px;
      border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
    }
  }
  &__content {
    width: calc(50% - 14px);
    h2 {
      margin-top: 0;
      margin-bottom: 16px;
      font-family: var(--font-daysone);
      font-size: 32px;
      font-weight: 400;
      line-height: 1.2;
      color: var(--brown-color);
    }
    p {
      font-size: 22px;
      font-weight: 400;
      line-height: 1.2;
      color: var(--font-color);
    }
  }
  &__image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(50% - 14px);
    img {
      max-width: 400px;
      margin-left: auto;
    }
    .prodprices__tags {
      position: absolute;
      top: 40px;
      left: 40px;
      max-width: calc(100% - 40px);
    }
  }
  &__tags {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &-tag {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding: 12px 26px;
    width: fit-content;
    font-family: var(--font-daysone);
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    color: var(--white-color);
    border-radius: 50px;
    background: var(--green-gradient);
  }
  .benefits__grid {
    margin-bottom: 60px;
  }
  &__third {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    .prodprices__content {
      width: calc(100% - 500px);
      h2 {
        font-size: 52px;
      }
      p {
        font-size: 28px;
      }
      .tick {
        margin-top: 76px;
      }
    }
    .prodprices__image {
      width: 460px;
      img {
        max-width: 430px;
        border-radius: 10px;
      }
      .prodprices__tags {
        top: 36px;
        left: 0;
      }
    }
  }
}

.swiper-slide .prod-tag {
  position: absolute;
  top: 30px;
  left: 30px;
  max-width: calc(100% - 60px);
}
.prod-tag {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 24px;
  width: fit-content;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--brown-color);
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.90);
}

.prodcontent {
  h3 {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 24px;
    padding: 16px 36px;
    width: fit-content;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.1;
    color: var(--white-color);
    border-radius: 50px;
    background: var(--green-gradient);
    &:not(:first-child) {
      margin-top: 24px;
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    color: var(--font-color);
  }
}


@include tablet {
  .prodhead {
    &__wrapper {
      width: calc(100% + 32px);
      margin-left: -16px;
      margin-right: -16px;
      padding: 48px 32px;
      min-height: 190px;
      border-radius: 0;
      &::before {
        border-radius: 0;
      }
    }
    &__img {
      border-radius: 0;
    }
    .heading {
      .section-title {
        font-size: 28px;
      }
      .section-text {
        font-size: 16px;
      }
    }
  }
  
  .prodprices {
    &__item {
      max-width: 100%;
      &:not(:last-child) {
        padding-bottom: 40px;
        margin-bottom: 40px;
      }
    }
    &__info {
      margin-top: 20px;
      font-size: 16px;
    }
    &__wrapper {
      padding: 28px 24px;
    }
    &__row {
      &:not(:last-child) {
        padding-bottom: 32px;
        margin-bottom: 32px;
      }
    }
    &__content {
      h2 {
        font-size: 26px;
      }
      p {
        font-size: 18px;
      }
    }
    &__image {
      img {
        max-width: 100%;
      }
      .prodprices__tags {
        top: 8px;
        left: 8px;
        max-width: calc(100% - 16px);
      }
    }
    &-tag {
      margin-bottom: 6px;
      padding: 8px 20px;
      font-size: 18px;
    }
    &__third {
      max-width: 100%;
      .prodprices__content {
        width: calc(50% - 14px);
        h2 {
          font-size: 36px;
        }
        p {
          font-size: 20px;
        }
        .tick {
          margin-top: 24px;
        }
      }
      .prodprices__image {
        width: calc(50% - 14px);
        img {
          width: 100%;
        }
        .prodprices__tags {
          top: 8px;
          left: 8px;
        }
      }
    }
  }
  
  .swiper-slide .prod-tag {
    top: 8px;
    left: 8px;
    max-width: calc(100% - 16px);
  }
  .prod-tag {
    padding: 8px 20px;
    font-size: 18px;
  }
}

@include tablet-small {
  .prodhead {
    &__wrapper {
      padding: 48px 32px;
      min-height: 190px;
    }
  }
  
  .prodprices {
    &__info {
      margin-top: 16px;
      font-size: 14px;
    }
    &__wrapper {
      padding: 0;
      border: 0;
    }
    &__row {
      flex-direction: column;
    }
    &__content {
      width: 100%;
      h2 {
        font-size: 22px;
        margin-bottom: 8px;
      }
      p {
        font-size: 16px;
        margin: 0.7rem 0;
      }
    }
    &__image {
      margin-top: 24px;
      width: 80%;
      img {
        margin-right: auto;
      }
    }
    &__third {
      .prodprices__content {
        width: 100%;
        h2 {
          font-size: 22px;
          margin-bottom: 8px;
        }
        p {
          font-size: 16px;
          margin: 0.7rem 0;
        }
        .tick {
          margin-top: 16px;
        }
      }
      .prodprices__image {
        margin-top: 24px;
        width: 100%;
      }
    }
  }
  .table-wrapper {
    overflow-x: auto;
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      width: 0;
      height: 0;
    }
  }
  .prodcontent {
    p {
      font-size: 16px;
    }
  }
}