.steps {
  padding-top: 80px;
  padding-bottom: 88px;
  background-image: url('../img/steps_bg.jpg');
  background-size: cover;
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    .steps-item {
      &:not(:last-child) .steps-number::after {
        content: '';
        position: absolute;
        top: 38px;
        left: 50%;
        width: 240px;
        height: 0px;
        border: 1px dashed var(--global-color);
        z-index: -2;
      }
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
  }
  &-number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    position: relative;
    font-family: var(--font-daysone);
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    color: var(--white-color);
    width: 76px;
    height: 76px;
    flex-shrink: 0;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      top: 0;left: 0;
      width: 76px;
      height: 76px;
      background-image: url('../img/step_icon.svg');
      background-size: contain;
      z-index: -1;
    }
  }
  &-text {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: var(--font-color);
  }
}

@include tablet {
  .steps {
    padding-top: 68px;
    padding-bottom: 68px;
  }
}

@include tablet-small {
  .steps {
    padding-top: 48px;
    padding-bottom: 48px;
    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
      width: 100%;
      .steps-item {
        &:not(:last-child) .steps-number::after {
          top: 50%;
          left: 37px;
          width: 0;
          height: 100px;
        }
      }
    }
    &-item {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
    }
    &-number {
      margin-bottom: 0;
      margin-right: 24px;
    }
    &-text {
      text-align: left;
    }
  }
}