/***** FONTS *****/
@import "fonts";

/***** GENERAL ELEMENTS *****/
:root {
  // base
  --font-family: "Montserrat", sans-serif;
  --font-daysone: "DaysOne", sans-serif;

  --content-width: 1320px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #ffffff;
  --black-color: #131313;
  --font-color: #000000;

  --global-color: #2f8d37;
  --brown-color: #543C30;
  --green-gradient: linear-gradient(66deg, #2F8D37 10%, #4DAB55 95%);
  --brown-gradient: linear-gradient(66deg, #543C30 10%, #725A4E 95%);
  // --green-color: #8BD27C;
  // --red-color: #FF3D00;

  --grey-color: #E5E5E5;
}

/***** Mixins *****/
@mixin desktop {
  @media screen and (max-width: 1190px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}


/***** BLOCKS GLOBAL *****/
@import "general";
@import "blocks/header.scss";

/***** COMPONENTS GLOBAL *****/
@import "blocks/buttons.scss";
@import "blocks/components.scss";

/***** SECTIONS GLOBAL (Widgets) *****/
@import "widgets/hero.scss";